.navbar{
    display: flex;
    background-color: rgb(26, 25, 25);
}
.nav-list{
    display: flex;
}
.nav-list a{
    display: block;
    padding:1em;
    text-decoration: none;
color: white;
}
.nav-list a:hover{
    background-color: rgb(70,70,70);
}
.nav-btn{
    display: none;
}

@media(max-width:1000px){
    .nav-btn{
        font-size: 2em;
        padding-inline:10px ;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(29,28,28);
        color: white;
        display: block;
        cursor: pointer;
    }
    .nav-list{
        display:none;
    }
    .nav-btn:hover{
        background-color:  rgb(70,70,70);
    }
.drop:hover .nav-list {
    display: block;
    position: absolute;
    right: 1px;
    background-color: rgb(29,28,28);
}
.navbar{
    justify-content: space-between;
} 

}